# Dependensi
node_modules/
/.pnp
.pnp.js

# Next.js Build & Cache
.next/
out/
build/

# Environment Variables (Sangat krusial untuk API Keys & Spooler Config)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Kiosk Local Media Storage (Jangan commit foto/video user ke Git!)
public/captures/
public/prints/
public/storage/
*.log

# Debug & OS logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Vercel / Deployment platforms
.vercel